dist-newstyle/
custom_program_time.txt
mathematica_time.txt
sagemath_time.txt
benchmarks/test.m
benchmarks/test.sage
benchmarks/test.txt
benchmarks/out.txt
benchmarks/results.csv
.vscode/ltex.dictionary.en-US.txt
